.pagination{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;

}

.pagination .btn{
    width: 50px;
    background: none;
    border: none;
}

.pagination .btn:hover{
    color:#009878;
    cursor: pointer;
}

.pagination .btn-active{
    color:#009878;
    cursor: pointer;
    width: 50px;
    background: none;
    border: none;
    font-weight: 700;
}

.btn-deactive{
    width: 50px;
    background: none;
    border: none;
    cursor:not-allowed;
}

